*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    width: 900px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    display: flex;
    overflow: hidden;
}

.logo{
    width: 40%;
    background: #eef3fa;
    text-align: center;
    padding: 80px 20px;
}

.logo h1{
    font-size: 80px;
    margin-bottom: 20px;
}

.logo h2{
    color: #0d3b7a;
    margin-bottom: 15px;
}

.logo p{
    color: #555;
}

.login{
    width: 60%;
    padding: 50px;
}

.login h2{
    text-align: center;
    margin-bottom: 30px;
}

.login label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #0d3b7a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover{
    background: #082a57;
}

.login a{
    font-size: 20px;
    color: #eff5fe;
    text-decoration: none;
}

.login .contraseña{
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #082a57;

}

h1 img{
    width: 100px;
    height: 100px;
}

/* parea ipad */
@media (max-width: 1024px){

    .contenedor{
        width: 90%;
    }

    .logo{
        padding: 50px 15px;
    }

    .logo h1{
        font-size: 60px;
    }

    .login{
        padding: 35px;
    }
}

/* para celular */
@media (max-width: 768px){

    body{
        height: auto;
        padding: 20px 0;
    }

    .contenedor{
        width: 95%;
        flex-direction: column;
    }

    .logo{
        width: 100%;
        padding: 40px 20px;
    }

    .logo h1{
        font-size: 50px;
    }

    .logo h2{
        font-size: 28px;
    }

    .logo p{
        font-size: 16px;
    }

    .login{
        width: 100%;
        padding: 30px 20px;
    }

    .login h2{
        font-size: 26px;
    }

    .login input,
    .login button{
        font-size: 16px;
    }

    .login a{
        font-size: 16px;
    }

    h1 img{
        width: 80px;
        height: 80px;
    }
}
 
/* para celular */
@media (max-width: 480px){

    .logo h1{
        font-size: 40px;
    }

    .logo h2{
        font-size: 22px;
    }

    .login h2{
        font-size: 22px;
    }

    .login{
        padding: 20px 15px;
    }

    h1 img{
        width: 70px;
        height: 70px;
    }
}